<!--Use data from doctors-->
@model List<Doctor>

<!-- Expert Doctors -->
<section class="expert-doctors ptb-100 gray-bg pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Expert Doctors</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="expert-doctors-carousel owl-carousel owl-theme owl-theme-2">
            @foreach (var item in Model)
            {
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="~/Uploads/@item.Photo" alt="Doctor Image" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href=@item.Linkedin>
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=@item.Twitter>
                                                <i class="icofont-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href=@item.Facebook>
                                                <i class="icofont-facebook"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <a href=@Url.Action("details","doctors",new { Slug=item.Slug })>
                            <h3>@item.FullName</h3>
                        </a>
                        <span class="designation mb-10">@item.Speciality.Name</span>
                        <p>@item.Text</p>
                    </div>
                </div>
            }


         
        </div>
    </div>
</section>
<!-- Edn Expert Doctors -->
