@model List<PatientFeedback>
 <!-- Patient Feedback -->
<section class="patient-feedback ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Patient Feedback</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="feedback-carousel owl-carousel owl-theme owl-theme-2">
            @foreach (var item in Model.ToList())
            {
                <div class="single-feedback">
                    <div class="feedback-text">
                        <i class="icofont-quote-right"></i>

                        <p>@item.Text</p>

                        <div class="profile-content">
                            <img src="~/Uploads/@item.Photo" alt="Patient" />
                            <h4>@item.Name</h4>
                        </div>
                    </div>
                </div>
            }
     
        </div>
    </div>
</section>
<!-- End Patient Feedback -->
<!-- CTA Area -->
<div class="cta-area gray-bg ptb-100">
    <div class="container">
        <div class="cta-text-content">
            <h3>We are constantly evaluating and implementing ways to improve patient safety.</h3>
            <p>Please speak up when you have questions or concerns.</p>

            <div class="cta-contant">
                <i class="icofont-phone"></i>
                1-604-555-5555
            </div>
        </div>

        <div class="cta-doctor-img">
            <img src="~/Public/assets/img/doctor.png" alt="Doctor">
        </div>
    </div>
</div>
<!-- CTA Area -->
