<section class="video-section ptb-100">
    <div class="container">
        <div class="section-title white-title">
            <h2>Watch Our Video</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="video-content mb-minus-330">
            <div class="d-table">
                <div class="d-tablecell">
                    <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                            <div class="sonar-wave"></div>
                            <a href="https://www.youtube.com/watch?v=LFBxRxwY4Qw" class="play-video popup-youtube">
                                <i class="icofont-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Video Section -->
<!-- Counter section -->
<div class="counter-section pt-100 pb-70 pt-330">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-simple-smile"></i>
                    <h3 class="counter">25000</h3>
                    <p>Happy Patients</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-doctor-alt"></i>
                    <h3 class="counter">180</h3>
                    <p>Experienced Doctors</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-operation-theater"></i>
                    <h3 class="counter">1500</h3>
                    <p>Successful Operations</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-bed"></i>
                    <h3 class="counter">2800</h3>
                    <p>Numbers of Beds</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End counter section -->
