@{ 
    @model VwAppointment
} 
<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Appointment</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a href=@Url.Action("index","home")>Home</a></li>
                    <li>Appointment</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Appointment Area -->
<div class="appointment-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-5 p-0">
                <div class="contant-number">
                    <h3><i class="icofont-phone"></i>@Model.Setting.Phone</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-7 p-0">
                <div class="appointment-form">
                    <h2 class="title">Make an Appointment</h2>
                    <form action=@Url.Action("book") method="post">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id_name" placeholder="Name">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="id_email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id_phone_number" placeholder="Phone Number">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <select class="form-control">
                                        @foreach (var item in Model.DepartmentCategories.ToList())
                                        {
                                            <option>@item.Name</option>
                                        }
                                      </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <select class="form-control">
                                        @foreach (var item in Model.Doctors.ToList())
                                        {
                                            <option>@item.FullName</option>

                                        }
                                      
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <input class="form-control" id="datepicker" placeholder="Booking Date">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn book-now-btn">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Appointment Area -->