@model List<Doctor>
<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Doctors</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Doctors</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Expert Doctors -->
<!--send data to partial view-->
@{
    Html.RenderPartial("~/Views/_ExpertDoctors.cshtml",Model);
}<!-- Edn Expert Doctors -->
<!-- Call To Action -->
@{
    Html.RenderPartial("~/Views/_CallAction.cshtml");
}

<!-- End Call To Action -->